@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300:400;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #351898;
  --black: #111;
}

body {
  background-color: #b97ed6;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}

h2 {
  display: inline-block;
  color: var(--black);
}

.btn {
  background-color: #f7930a;
  border: none;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 25px 35px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.meal {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
}

.meal-img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  flex: 1;
}
.meal-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.meal-details {
  padding: 30px;
  position: relative;
  flex: 2;
}

.meal-title {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 20px;
}
.meal-instruction {
  font-size: 14px;
}

.meal-info {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.meal-info li {
  color: #555;
  font-size: 14px;
  font-weight: 300;
  margin-right: 50px;
}

.meal-info li strong {
  color: var(--primary-color);
  font-size: 14px;
  display: block;
}

.meal-details .btn {
  position: absolute;
  right: -10px;
  bottom: -10px;
}
